<h1>Reading in Files</h1>

In [1]:
import pandas as pd

<h4>Lendo Arquivo CSV</h4>

In [ ]:
df = pd.read_csv('countries of the world.csv')
df

<h4>Lendo Arquivo TXT</h4>

In [ ]:
df = pd.read_table('countries of the world.txt')
df

<h4>Lendo Arquivo JSON</h4>

In [ ]:
df = pd.read_json('json_sample.json')
df

<h4>Escolhendo a tabela que sera exibida do arquivo excel</h4>

In [ ]:
df2 = pd.read_excel('world_population_excel_workbook.xlsx', sheet_name = 'Sheet1')
df2

In [ ]:
pd.set_option('display.max.rows', 235)
pd.set_option('display.max.columns', 40)

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [15]:
df2.shape

(234, 4)

In [17]:
df2.head(10)

   Rank CCA3              Country           Capital
0    36  AFG          Afghanistan             Kabul
1   138  ALB              Albania            Tirana
2    34  DZA              Algeria           Algiers
3   213  ASM       American Samoa         Pago Pago
4   203  AND              Andorra  Andorra la Vella
5    42  AGO               Angola            Luanda
6   224  AIA             Anguilla        The Valley
7   201  ATG  Antigua and Barbuda    Saint Johnâ€™s
8    33  ARG            Argentina      Buenos Aires
9   140  ARM              Armenia           Yerevan

In [18]:
df2.tail(10)

     Rank CCA3            Country       Capital
224    43  UZB         Uzbekistan      Tashkent
225   181  VUT            Vanuatu     Port-Vila
226   234  VAT       Vatican City  Vatican City
227    51  VEN          Venezuela       Caracas
228    16  VNM            Vietnam         Hanoi
229   226  WLF  Wallis and Futuna      Mata-Utu
230   172  ESH     Western Sahara     El AaiÃºn
231    46  YEM              Yemen         Sanaa
232    63  ZMB             Zambia        Lusaka
233    74  ZWE           Zimbabwe        Harare

In [ ]:
df2['Rank']

In [20]:
df2.loc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [21]:
df2.iloc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object